*{
    padding: 0;
    margin: 0;
}

.insideCard{
    width: 100%;

    display: flex;
    justify-content: space-around;
    

}

.insideCard img{
    height: 50px;
    border-radius: 25px;

}

h1,h5{
    text-align: center;
}

.rounded-4.card{
    width: 400px;
    
    border: 1px solid ;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(70deg, #b0d9a5, #e4ea8c);
    height: 100vh;

}

.containerFormulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}